{% extends "default/index.html.jinja2" %}

{% block title %}csi_utils documentation{% endblock %}

{% block content %}
    <main class="pdoc">

        <h1>csi_analysis: documentation</h1>

        <p>Welcome to the csi_analysis documentation. Please use the "Available Modules" list on the left to access what you need. Top-level modules include:</p>

        <ul>
            <li><a href="csi_analysis.html">csi_analysis</a>: the main modules that you may find useful.</li>
            <li><a href="tests.html">tests</a>: the test suite for the package, which you might check out for further examples.</li>
        </ul>

        <p>To modify this page, please edit the <code>docs/theme/index.html.jinja2</code> file in the repository.</p>
    </main>
{% endblock %}